# Dependencies
node_modules/
.pnp
.pnp.js
dist/

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/

# Misc
.DS_Store
*.pem

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Server
server/node_modules/
server/.env
